### Carpetas ###
***docs/images/diagrams
***docs/Comando
***docs/descripcion_traductor_kaqchikel.docx
***target/src/
***target/database/
***lib



### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

